<h1 align="center">User Login</h1>
<div align="center">
  <div class="col-8">
    <%= form_for :session, url: login_path do |f| %>
      <div class="form-group row">
        <%= f.label :email, class: "col-sm-3 col-form-label", align: "right" %>
        <div class="col-sm-7">
          <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter Email id" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :password, class: "col-sm-3 col-form-label", align: "right" %>
        <div class="col-sm-7">
          <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter Password" %>
        </div>
      </div>
      <div class="form-group row col-6">
        <%= f.submit "Login", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
