<div class="card center text-center border-primary mb-3" align="center" style="width: 30rem; ">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
    <p class="card-text"><%= truncate(article.description, length: 100) %></p>
    <% if article.categories.any? %>
      <p>Categories: <%= render article.categories %></p>
    <% end %>
    <% if article.tags.any? %>
      <p>Tags: <%= render article.tags %></p>
    <% end %>
    <% # Admin and the owner of the article can edit and edit the artile %>
    <% if logged_in? && administrator?(article) %>
      <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-primary" %>
      <%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <small>
      Created by: <%= article.user.username if article.user %>,
      Created <%= time_ago_in_words(article.created_at) %> ago,
      Updated <%= time_ago_in_words(article.updated_at) %> ago
    </small>
  </div>
</div>
